body {
    background-color: #f6fafc;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: #05293a;
}

.button {
    background-color: rgb(241, 149, 10);
    border:none;
    color: black;
    font-size: 13px;
}

.button:hover {
    background-color: rgba(248, 152, 7, 0.74);
    color: white;
}

.button:active {
    background-color: rgba(145, 88, 3, 0.767);
    color: white;
}

#page-title {
    font-size: 40px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

#page-title:hover {
    color: rgb(216, 110, 11);
}

#note-title {
    color: #05293a;
    font-size: 20px;
}

#note-title:hover {
    color: rgb(216, 110, 11);
}

#username {
    color: white;
}

.data {
    color: darkslategrey;
}

#more {
    font-size: 16px;
    padding: 0;
}

#more:hover {
    color: rgb(216, 110, 11);
}

pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    white-space: pre-wrap;
}

p {
    word-wrap: break-word;
}

footer {
    background-color: #05293a;
    color: white;
}

#error {
    font-size: 150px;
}

#not-found {
    font-size: 30px;
}

 .update {
     font-size: 13px;
 }